@font-face {
    font-family:UnitedUltra ;
    src: url(../fonts/Decimal-Ultra.otf);
}
@font-face {
    font-family: UnitedSemi;
    src: url(../fonts/Decimal-Semibold.otf);
}
h1 {
    font-family: UnitedUltra;
}
body {
    font-family: UnitedSemi;
    background-color: rgb(254, 225, 26);
    color: rgb(0, 112, 48);
}
.splash {
        text-align: center;
        display: inline;  
        margin: auto;
        position: absolute;
        width: 800px;
        height: 400px;
        top: 0;
        bottom: 0;
        left: 0;
        right:0;
        font-size: 40px;
}
p.logo {
    font-size: 25px;
}