@font-face {
    font-family:UnitedUltra ;
    src: url(../fonts/Decimal-Ultra.otf);
}
@font-face {
    font-family: UnitedSemi;
    src: url(../fonts/Decimal-Semibold.otf);
}
h1 {
    font-family: UnitedUltra;
}
body {
    font-family: UnitedSemi;
    background-color: rgb(254, 225, 26);
    color: rgb(0, 112, 48);
}
.splash {
        text-align: center;
        display: inline;  
        margin: auto;
        position: absolute;
        width: 800px;
        height: 400px;
        top: 0;
        bottom: 0;
        left: 0;
        right:0;
        font-size: 40px;
}
p.logo {
    font-size: 25px;
    line-height: 1px;
}
a.button {
    font-size: 30px;
    border-color: white;
    background: white;
    border-radius: 100px;
    padding: 18px 25px 18.7px ;
    text-align: center;
    text-decoration: none;
    line-height: 50px;

}
a.button:hover{
    padding: 20px 35px 20px ;

}
.reg {
    text-align: center;
    font-size: 40px;
}
@media (max-width:600px){
    .reg {
        font-size: 25px;
    }
    a.button {
        padding: 18px 25px 18.7px ;
        font-size: 50px;
    }
}
h1.graidenttext {
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
	background-size: 300%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 20s ease-in-out infinite;
	-moz-animation: animated_text 20s ease-in-out infinite;
	-webkit-animation: animated_text 20s ease-in-out infinite;
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}
a.graident {
    font-size: 30px;
    border: 2px solid;
    border-image: url(https://www.ducksunited.org/ducksunited/images/Sls_tmeuSGE.png) 1 round;
    padding: 20px 44px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    color: black;
}
.announcemnt{
    font-family:UnitedSemi; 
    font-size: 20px; 
    padding: 18px 25px 18.7px ;
    margin:0; 
    color:black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 100px;
    -webkit-text-fill-color: black;
    background-size: 100% 100%; 
}
